PORT=3001
BROWSER_HEADLESS=false
NAVIGATION_TIMEOUT_MS=45000
REQUEST_TIMEOUT_MS=45000
PAGE_WAIT_MS=4000
RETRY_ATTEMPTS=3
PREWARM_HOME_MS=2500
HUMAN_SOLVE_WAIT_MS=6000
SESSION_STATE_DIR=.sessions
PROXY_URLS=
